@use '@/app/mixins' as *;

.nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;

	.hamburger {
		position: relative;
		padding: 0 32px;
		cursor: pointer;
		order: 0;

		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		@include mediaMin('tablet') {
			display: none;
		}
	}

	.navTitle {
		order: 1;

		span {
			padding-left: 0;
			padding-top: 20px;
			padding-bottom: 20px;
			display: inline-block;
			font-weight: bold;
			@include mediaMin('tablet') {
				padding-left: 40px;
			}
		}
	}

	.break {
		order: 2;
	}

	.navList {
		order: 3;
	}

	// mobile menu nav list
	@include mediaMax('mobileLandscape') {
		.break {
			flex-basis: 100%;
			height: 0;
		}
		.navList {
			display: none;
		}
		&.menuOpen {
			.navList {
				background-color: teal;
				display: flex;
				flex-direction: column;
				position: absolute;
				top: 64px;
				width: 90vw;
				border-radius: 10px;
			}
		}
	}

	@include mediaMin('tablet') {
		.navList {
			display: flex;
			flex-grow: 1;
		}
	}

	.search {
		order: 1;
		display: flex;
		padding: 20px 0 0 20px;

		@include mediaMin('tablet') {
			order: 9999;
			align-self: center;
			padding: unset;
			// force to the right, if i want
			//flex-basis: 100%;
			//justify-content: flex-end;
			//margin-right: 40px;
		}

	}

}

