@use "@/app/mixins" as *;

.pagination {
	margin-top: 30px;
	display: flex;
	justify-content: center;

	button,
	a {
		display: flex;
		text-decoration: none;

		@include mediaMax("mobileLandscape") {
			align-items: center;
			padding: 4px 8px;
			font-size: 12px;

			span {
				font-size: 14px;
			}
		}
	}
}
