@use '@/app/mixins' as *;

h1.heading {
	font-size: 30px;
	margin-bottom: 20px;
	@include mediaMin('tablet') {
		font-size: 50px;
		margin-bottom: 30px;
	}
	@include mediaMin('desktop') {
		font-size: 80px;
	}
}

h2.heading {
	font-size: 30px;
	margin-bottom: 20px;
	@include mediaMin('tablet') {
		font-size: 45px;
		margin-bottom: 30px;
	}
	@include mediaMin('desktop') {
		font-size: 60px;
	}
}

h3.heading {
	font-size: 20px;
	margin-bottom: 20px;
	@include mediaMin('tablet') {
		font-size: 30px;
		margin-bottom: 30px;
	}
	@include mediaMin('desktop') {
		font-size: 40px;
	}
}