.recommendations {
	a {
		text-decoration: none;
		color: black;
	}

	img {
		width: 100%;
		display: block;
		box-shadow: 0 0 30px black;
		border-radius: 10px 10px 0 0;
	}

	span {
		padding: 10px; // 10px 0;
		display: block;
	}
}
