.cast {
	img {
		width: 100%;
		display: block;
		border-radius: 10px 10px 0 0;
		box-shadow: 0 0 30px black;
	}

	.copy {
		color: black;
		padding: 10px;

		span {
			display: block;
		}

		span:first-child {
			font-weight: bold;
		}
	}
}
