@use "@/app/mixins" as *;

.movieDetailsHero {
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	position: relative;
	background-color: black;
	padding: 50px 0;

	@include mediaMin("tablet") {
		padding: 100px 0;

		// height: 50vh;
	}

	.elevate {
		z-index: 2;
	}

	img.background {
		object-fit: cover;
		object-position: center;
		width: 100%;
		height: 100%;
		opacity: 0.4;
		position: absolute;
		z-index: 1;
	}

	img.poster {
		display: block;
		border-radius: 10px;
		width: auto;
		margin: 0 auto;
		box-shadow: 0 0 30px black;

		// height: calc(50vh - 40px);
		@include mediaMin("tablet") {
			// height: calc(50vh - 80px);
			max-height: calc(50vh - 80px);
		}
	}

	.content {
		h1 {
			text-shadow: 2px 2px 5px black;
		}

		.tagLine {
			margin-bottom: 20px;
		}

		.overview {
			margin-bottom: 30px;
		}

		@include mediaMax("mobileLandscape") {
			padding: 40px;
		}
	}
}
