.sidebar {
	background-color: white;
	color: black;
	height: 100%;
	padding-top: 30px;

	.shortInfo {
		padding: 20px;

		.heading {
			font-weight: bold;
		}

		.headingValue {
			margin-bottom: 20px;
		}

		.heading,
		.headingValue {
			display: block;
		}
	}
}
